<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEMBER</title>
</head>
<body>
<h3>회원등록</h3>
<form action="/member/join" method="post">
    <table>
        <tr><td>아이디</td><td><input type="text" name="id"></td></tr>
        <tr><td>비밀번호</td><td><input type="password" name="pwd"></td></tr>
        <tr><td>전화번호</td><td><input type="text" name="tel"></td></tr>
        <tr><td>이메일</td><td><input type="email" name="email"></td></tr>
        <tr><td colspan="2"><input type="submit" value="등록"></td></tr>
    </table>
</form>
</body>
</html>