<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>내 관심 목록</h3>
<table>
    <th>번호</th><th>관심글번호</th>
    {% for b in llist %}
        <tr>
            <td>{{b.num}}</td>
            <td><a href="/board/detail/{{b.b_num}}">{{b.b_num}}</a></td>
            {%for a in blist%}
                {% if a.num == b.b_num %}
                    <td>{{a.title}}</td>
                    {%if a.img1 != None%}
                    <div>
                        <img src="{{a.img1}}">
                    </div>
                    {% elif a.img2 != None%}
                    <div>
                        <img src="{{a.img2}}" >
                    </div>
                    {% elif a.img3 != None%}
                    <div>
                        <img src="{{a.img3}}">
                    </div>
                    {%else%}
                    <div>
                        No image
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td>{{b.id}}</td>
        </tr>
    {%endfor%}
</table>
</body>
</html>